header{
    text-align: center;
    padding: 20px 0;
    background-color: #5d679a;
    color: #ffffff;
}

.main-content{
    text-align: center;
    padding: 50px;
    background-color: #232b3b;
}

a:link{
    color: #141821;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: #141821;
    text-decoration: none;
}

.project1, .project2, .project3, .project4{
    margin: 20px 0;
    border-radius: 15px 50px;
    background-color: #abb5e5; 
    color: #000000;
    font-size: large;
    padding: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.project1:hover, .project2:hover, .project3:hover, .project4:hover{
    transform: scale(1.05);
}

